.deps
Makefile
config.h
config.log
config.status
stamp-h1
libtool
.libs
*.o
*.lo
*.la
*.a


barscroller
blob
bobs
bump2d
candybar
circlescroller
copperbars
demon
demons
doom_melt
equalizer
explosion
fire
flipimage
jumpingscroll
lens
multilayer
plasma
plasmacube
raytracer
rotozoom
shadebob
sinewave
sinusscroller
spiralsinescroll
spiraltwist
starfield
terrain
tunnel
tuxtrail
twinscroller
ufos
unlimited_bobs
water

